<template id="wiki-template">
  <span class="mt-2">
      <h2 class="text-lg font-bold float-left" id="wiki-name"></h2>
      <p class="float-right opacity-50" id="wiki-count">N/A</p>
  </span>
  <div class="h-2 mt-1 w-full rounded-full bg-white/20">
      <div class="h-full w-0 bg-white/80 rounded-full" id="wiki-progress"></div>
  </div>
</template>