<a href="{{url_for(handler, **linkparams) if linkparams else url_for(handler)}}">
    <div class="glass-btn-sidebar">
        <i class="bi {{icon}} text-lg"></i>
        <p>{{text}}</p>
    </div>
</a>