{% extends "base.j2" %}

{% block content %}
<div class="">
    <h1 class="mt-6 text-4xl font-bold text-center">Poznámky</h1>
</div>
<div class="flex flex-col items-center justify-start w-full gap-6 mx-12 my-6" id="noteContainer">
    {% for note in notes %}
    <div class="min-h-24 rounded-xl bg-white/5 box-border w-1/2 p-4 transition-all shadow-md" id="note-{{note.nid}}">
        <h1 class="mb-2 text-xl font-bold">{{ note.title }}</h1>
        <img src="{{ url_for('UserContent.get_avatar', uid=(note.author_profile or 0)) }}" class="inline-block w-8 mt-0 mr-2 rounded-full">
        {{ note.author_name }}
        <p class="h-auto mt-4 ml-2">
        {{ note.note | replace('\r\n', '<br>') }}
        </p>
        <div class="h-auto mt-6 mb-2">
            <a class="hover:bg-white/10 box-content px-3 py-2 transition-all border border-white rounded-md select-none">Editovat</a>
            <a class="hover:bg-white/10 box-content px-3 py-2 border border-white rounded-md select-none" onclick="deletenote({{note.nid}})">Smazat</a>
        </div>
    </div>
    {% endfor %}
    <div class="min-h-24 rounded-xl bg-white/5 box-border w-1/2 p-4 transition-all shadow-md">
        <form action="{{url_for('NoteController.add_note')}}" method="post">
        {{ form.hidden_tag() }}
        {{ form.title(class="focus-visible:border-dotted mb-2 text-xl font-bold bg-transparent border-b outline-none", placeholder="Poznamka") }}
        {{ form.note(class="bg-white/10 w-full p-2 my-2 whitespace-pre-wrap transition-all rounded-lg shadow-inner outline-none resize-none", rows=10 )}}
        <div class="h-auto mt-2 mb-2">
            {{ form.submit(class="hover:bg-white/10 box-content px-3 py-2 transition-all border border-white rounded-md select-none")}}
        </div>
        </form>
    </div>
</div>

<script src="{{url_for('static', filename='js/notes.js')}}" token="{{js_token}}"></script>
{% endblock content %}