{% if not hide_sidebar %}
<div id="sidebar" class="md:bg-white/5 backdrop-blur-md md:w-64 fixed top-0 left-0 flex flex-col w-full h-screen p-4 transition-all duration-500 -translate-x-full">
    {{navigation_menu(current_user.is_authenticated)}}
    <div id='sidebar-close' class="glass-btn-sidebar mt-auto">
        <i class="bi bi-x-lg text-lg"></i>
        <p>Zavřít</p>
    </div>
</div>
<i id='sidebar-toggle' class="bi bi-list top-3 left-5 bg-white/5 hover:bg-white/20 backdrop-blur-lg border-white/20 fixed block px-2 text-3xl transition-all border rounded-md"></i>
<script src="{{ url_for('static', filename='js/sidebar.js')}}"></script>
{% endif %}